.playlist-card {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.playlist-card::-webkit-scrollbar {
  width: var(--scrollbar-size);
}

.playlist-card::-webkit-scrollbar-thumb {
  background: var(--background-tinted-base);
  border-radius: 6px;
}
