.queue-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.queue-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.queue-panel::-webkit-scrollbar {
  width: var(--scrollbar-size);
}

.queue-panel::-webkit-scrollbar-thumb {
  background: var(--background-tinted-base);
  border-radius: 6px;
}
